@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


:root{
  --text-color:#22222259;
  --primary-color:#2C2428;
  --secondary-color:#593649;
}

::-webkit-scrollbar{
  width: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}

body *{
  transition: all .3s ease;
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Open Sans', sans-serif;
}


